.main-content {
    margin-bottom: 80px;
}

#avatar_on_index {
    padding-bottom: 10px;
    padding-left: 0;
    border-right: dotted 1px #808080;
    border-bottom: dotted 1px #808080;
}

.user_info_block {
    border-bottom: dashed 1px green;
    padding: 0;
}

.notes {
    padding: 10px;
    min-height: 240px;
    border: 1px dotted #808080;
    cursor: pointer;
}

.image_picker_image{
    width: 48px;
    height: 48px;
}
.navbar-toggle{
margin-left:15px;
}

#login_nav {
     margin: 0 15px 0 0;
}

.nav_avatar{
    width: 70px;height: 50px;margin-right: 5px;
}

.nav_avatar_xs{
    padding:0;margin-right: 10px;height: 50px;width: 80px;
}
.navbar-fixed-bottom{
    min-height: 50px;padding: 0;
}
.footer-text{
margin: 20px;
}
.footer-text>a{
float: none;
}
.notes-show-color-block{
    min-height:50px;
}