{% extends 'notes/layout.html' %}
{% load bootstrap3 %}
{% block title %}
    Создать заметку
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Создать заметку</h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'user_notes' request.user.username %}">Мои заметки</a></li>
            <li class="active">Создание заметки</li>
        </ol>
        <hr>
        <div class="col-md-8 col-sm-10">
            <h2 style="margin-bottom: 20px;">
                <small>Добавить комментарий</small>
            </h2>
            <form class="form-horizontal"
                  name="add_comment_form" role="form" method="POST"
                  action="{% url 'user_notes' request.user.username %}">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="col-md-12">
                        <div class="panel-body">
                            <div class="alert alert-danger">
                                <ul>
                                    {{ form.errors }}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% bootstrap_form form layout='horizontal' size='medium' horizontal_label_class='col-md-2' horizontal_field_class='col-md-7' %}
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-2 text-center">
                        <input type="submit" class="btn btn-primary" name="submit" value="Добавить заметку">
                    </div>
                </div>
            </form>
        </div>
    {% else %}
        <h1 class="text-center">Вы не вошли на сайт!</h1>
    {% endif %}
{% endblock %}